h1 {
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 30px;
}

.tool-page_btn {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--button-color);
  color: var(--text-disabled);
  margin: 0px 5px;
  width: 145px;
  height: 35px;
  text-transform: uppercase;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  cursor: pointer;
  
}

.tool-page_btn:hover {
  color: rgba(136, 209, 0, 0.699);
  transition: 0.2s ease-in;
  background-color: rgba(0, 0, 0, 0.037);
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
}


.tool-page_btn:active {
  color: rgb(232, 232, 232);
  background-color: rgba(0, 0, 0, 0.08);
}

.tool-page_btn:disabled {
  color: rgb(55, 55, 55);
  background-color: var(--button-color);
  border: 1px solid rgb(77, 77, 77);
}

.buttons-container {
  height: 30px;
  margin:25px 0 10px;
}

.search-container input {
  margin-top: 15px;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  width: auto;
  height: 30px;
  list-style: none;
  text-decoration: none;
  color: aliceblue;
  background-color: var(--bg-primary);
  -webkit-border-radius: 3px solid rgb(195, 29, 29);
  -moz-border-radius: 3px solid rgb(195, 29, 29);
  -ms-border-radius: 3px solid rgb(195, 29, 29);
  -o-border-radius: 3px solid rgb(195, 29, 29);
}

.tools-list {
  max-height: 600px;
  margin: 18px 0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color:var(--bg-scrollbar-track) var(--bg-scroll-secondary);
  
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: var(--bg-scrollbar);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-scrollbar);
    border-radius: 4px;
  }
}