h1 {
  font-size: 20px;
  color: rgb(208, 208, 208);
  margin-top: 30px;
}

.tool-page_btn {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(167, 167, 167);
  margin: 0px 5px;
  width: 145px;
  height: 35px;
  text-transform: uppercase;
  border: 1px solid rgb(185, 184, 184);
  background-color: #282c34;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  cursor: pointer;
}

.tool-page_btn:active {
  color: rgb(232, 232, 232);
  background-color: rgba(0, 0, 0, 0.08);
}

.tool-page_btn:disabled {
  color: rgb(55, 55, 55);
  background-color: rgba(91, 91, 91, 0.051);
  border: 1px solid rgb(77, 77, 77);
}

.buttons-container {
  height: 30px;
  margin:25px 0 10px;
}


.search-container input {
  margin-top: 15px;
  outline: none;
  border: 1px solid #97bd0028;
  border-radius: 3px;
  width: auto;
  height: 30px;
  list-style: none;
  text-decoration: none;
  color: aliceblue;
  background-color: #282c34;
  -webkit-border-radius: 3px solid rgb(195, 29, 29);
  -moz-border-radius: 3px solid rgb(195, 29, 29);
  -ms-border-radius: 3px solid rgb(195, 29, 29);
  -o-border-radius: 3px solid rgb(195, 29, 29);
}

.list-container {
  position: relative;
  max-height: 600px;
  margin: 18px 0;
  overflow: hidden;
}
